.ablock {
  display: block;
  height: 100%;
  text-align: center;
}
header {
  height: 88px;
  background-color: #555;
}
header .content {
  width: 1170px;
  height: 100%;
  margin: 0 auto;
  padding: 25px 20px 0;
}
header .content .logo {
  font-size: 40px;
  color: #fff;
}
nav {
  height: 50px;
  background-color: #333;
}
nav .content {
  width: 1170px;
  height: 100%;
  margin: 0 auto;
}
nav .content ul {
  height: 100%;
  float: left;
}
nav .content ul li {
  height: 100%;
  float: left;
}
nav .content ul li a {
  display: block;
  height: 100%;
  text-align: center;
  padding: 0 15px;
  line-height: 50px;
  font-size: 20px;
  color: #fff;
}
main {
  height: 1000px;
  background-color: #ccc;
}
main .content {
  width: 1170px;
  height: 100%;
  margin: 0 auto;
  position: relative;
}
main .content .personal {
  width: 700px;
  height: 400px;
  background-color: pink;
  position: absolute;
  top: 50px;
  left: 10px;
}
main .content .picture_list {
  width: 370px;
  height: 900px;
  background-color: skyblue;
  position: absolute;
  top: 50px;
  right: 10px;
}
main .content .vlog_list {
  width: 700px;
  height: 450px;
  background-color: yellowgreen;
  position: absolute;
  bottom: 50px;
  left: 10px;
}
footer {
  height: 166px;
  background-color: #222;
}
