.ablock {
  display: block;
  height: 100%;
  text-align: center;
}
header {
  height: 88px;
  background-color: #555;
}
nav {
  height: 50px;
  background-color: #333;
}
nav .content {
  width: 1170px;
  height: 100%;
  margin: 0 auto;
}
nav .content ul {
  height: 100%;
  float: left;
}
nav .content ul li {
  height: 100%;
  float: left;
}
nav .content ul li a {
  display: block;
  height: 100%;
  text-align: center;
  padding: 0 15px;
  line-height: 50px;
  font-size: 20px;
  color: #fff;
}
main {
  height: 1000px;
  background-color: #ccc;
}
footer {
  height: 166px;
  background-color: #222;
}
